@media screen and (max-width: 1200px) {
  .row {
    width: 100%;
    padding: 0 30px;
  }
  .close-btn ion-icon {
    right: 40px;
  }
  .hero-text-box {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .grid-about-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .paul {
    width: 50%;
  }
  .grid-process-container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .grid-portfolio-container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .grid-portfolio-item:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .grid-about-item.uk-scrollspy-inview {
    -webkit-animation: none;
    animation: none;
  }
}

@media screen and (max-width: 768px) {
  .paul {
    width: 70%;
  }
  .grid-experience-container,
  .grid-contact-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .description {
    width: 100%;
  }
  .grid-portfolio-item img {
    height: auto;
  }
  .grid-portfolio-container {
    grid-auto-rows: auto;
  }
}

@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 8px;
  }
  .paul {
    width: 100%;
  }
  .grid-process-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .section-title p {
    margin-bottom: 15px;
  }
  .grid-portfolio-container,
  .grid-testimonial-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  #testimonial {
    background-image: none;
    background-color: #f5f5f5;
  }
  h1 {
    font-size: 550%;
  }
  .hero-text-box span {
    font-size: 195%;
  }
}
